
.title{
    color: var(--c-white); 
    font-family: var(--f-Fraunces); 
    text-transform: uppercase;
    letter-spacing: .2em;
    text-align:center; 
    font-weight: 900; 
    font-size: 2.5rem; 
}

.arrow{
    text-align: center; 
}